body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf0e4;
}

header {
  border: solid #ffdede 3px;
  border-radius: 28%;
  background-color: #ffdede;
  margin-bottom: 1cm;
}

h1 {
  text-align: center;
  margin: 5cm 0 -7cm 0cm;
  font-size: 5em;
  color: #ff8551;
}

img {
  display: block;
  width: 23%;
  margin-top: -0.5cm;
  margin-right: 0.1cm;
  margin-left: 30cm;
  margin-bottom: -2.3cm;
}

h2 {
  text-align: center;
  margin-bottom: 1cm;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 5;
  opacity: 75%;
}

nav ul {
  list-style-type: none;
  margin: -11px;
  padding: 0;
  overflow: hidden;
  background-color: #ff8b5b;
  top: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #ffdede;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
}

section {
  color: #4f709c;
  text-align: center;
  margin-bottom: 3cm;
}

#about-us,
#contact-us,
#our-services {
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

li {
  font-size: 1.5em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  text-align: left;
  margin-left: 4cm;
}

input {
  width: 8cm;
}

address {
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  height: 35px;
  width: 100%;
}

.list {
  display: block;
  margin-top: 2cm;
  margin-left: 5cm;
}

#about-us,
#our-services {
  font-size: 3em;
  background-color: #ffdede;
  border-radius: 30px;
  padding: 20px;
  width: 500px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

#intro-p {
  font-size: 1.5em;
  margin: -1cm 10cm;
  padding: 0;
  text-align: justify;
  text-align-last: center;
}

#our-services {
  margin-top: -2cm;
}

#contact-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  padding: 20px;
}

#form,
#address-section,
#opening-hours {
  font-size: 1.3em;
  text-align: center;
  padding: 50px;
  border: solid #ff8b5b 2px;
  background-color: #ffdede;
}

#location {
  margin-bottom: 1em;
}

#phone {
  margin-top: 1em;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ff8b5b;
}
