html {
  scroll-padding-top: 55px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf0e4;
  scroll-padding-top: 55px;
}

header {
  border: solid #ffdede 3px;
  border-radius: 28%;
  background-color: #ffdede;
  margin-bottom: 1cm;
  position: relative;
}

h1 {
  display: block;
  text-align: center;
  margin: 7cm 0 -7cm 0cm;
  font-size: 5em;
  color: #ff8551;
}

img {
  display: block;
  margin-top: -0.5cm;
  margin-right: 0.1cm;
  margin-left: 30cm;
  margin-bottom: -2.3cm;
  width: 18%;
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  margin-bottom: 1cm;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 5;
  opacity: 75%;
  display: block;
}

nav ul {
  list-style-type: none;
  margin: -11px;
  padding: 0;
  overflow: hidden;
  background-color: #ff8b5b;
  top: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #ffdede;
  font-weight: bold;
  padding: 2px 109px;
}

section {
  color: #4f709c;
  text-align: center;
  margin-bottom: 3cm;
}

@media only screen and (max-width: 480px) {
  /* Styles for screens 480px or less */

  /* Adjust the header's margin to move it below the menu bar */
  header {
    margin-top: 60px; /* Adjust this value as needed */
  }

  /* Adjust the image's margin to center it horizontally */
  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem; /* Adjust this value as needed */
    margin-bottom: 1rem; /* Adjust this value as needed */
  }

  /* Make the sections occupy full width */
  section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  /* Adjust the padding for the form and other sections */
  #form,
  #address-section,
  #opening-hours {
    padding: 20px;
  }

  /* Adjust the list items' margin for better alignment */
  li {
    margin-left: 0;
    text-align: center;
  }
}

label {
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

#about-label,
#services-label,
#contact-label {
  font-size: 3em;
  color: #4f709c;
  background-color: #ffdede;
  border-radius: 30px;
  padding: 20px;
  height: 50px;
  text-align: center;
  min-height: 100%;
  width: 30%;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

li {
  font-size: 1.5em;
  padding: 0.2em 0.5em;
  text-align: left;
  margin-left: 4cm;
}

input {
  width: 8cm;
}

address {
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  background-color: #4f709c;
  height: 35px;
  width: 100%;
  text-align: center;
  padding: 0.2em;
}

footer p {
  color: #ffdede;
  font-size: 0.8em;
}

.list {
  display: block;
  margin-top: 2cm;
  margin-left: 5cm;
}

#intro-p {
  font-size: 1.5em;
  margin: -1cm 10cm;
  padding: 0;
  text-align: justify;
  text-align-last: center;
}

#contact-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  padding: 20px;
}

#form,
#address-section,
#opening-hours {
  font-size: 1.3em;
  text-align: center;
  padding: 50px;
  border: solid #ff8b5b 2px;
  background-color: #ffdede;
}

#location {
  margin-bottom: 1em;
}

#phone {
  margin-top: 1em;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ff8b5b;
}
