/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  scroll-padding-top: 55px;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf0e4;
  min-height: 100%;
}

header {
  margin-bottom: 1cm;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: #ff8551;
  background-color: #ffdede;
  border: solid #ffdede 3px;
  border-radius: 20%;
  margin-top: 2cm;
  margin-bottom: 5cm;
  padding: 5cm 0cm;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  margin-top: -15cm;
  margin-left: 32cm;
  margin-bottom: -1.3cm;
  width: 20%;
  height: 100%;
}

h2 {
  text-align: center;
  margin: 0;
}

h3 {
  display: block;
  margin: 0 auto;
  font-size: 3em;
  color: #4f709c;
  background-color: #ffdede;
  border-radius: 30px;
  padding: 20px;
  height: 50px;
  text-align: center;
  min-height: 100%;
  width: 30%;
  scroll-margin-top: 55px;
  margin-top: 55px;
}

h4 {
  font-size: 2em;
}

nav {
  overflow: hidden;
  background-color: #ff8b5b;
  position: fixed;
  top: 0;
  width: 100%;

  list-style-type: none;
  opacity: 85%;
}

nav li {
  float: left;
  display: block;
  text-align: center;
  list-style-type: none;
  padding: 0px;
}

nav li a {
  font-size: 0.8em;
  color: #ffdede;
  font-weight: bold;
  padding: 0px;
}

section {
  display: block;
  padding-top: 0.5px;
  scroll-padding-top: 55px;
  color: #4f709c;
  text-align: center;
  max-width: 100%;
}

label {
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

span {
  display: inline-block;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

li {
  font-size: 1.5em;
  padding: 1.2em 0.5em;
  text-align: left;
  margin-left: 4cm;
}

input {
  width: 8cm;
  margin-bottom: 28px;
}

span {
  font-weight: bold;
  margin: 5%;
}

address {
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  background-color: #4f709c;
  height: 35px;
  width: 100%;
  text-align: center;
  padding: 0.2em;
}

footer p {
  color: #ffdede;
  font-size: 0.8em;
}

.list {
  display: block;
  margin-top: 2cm;
  margin-left: 5cm;
}

span.intro {
  font-weight: 100;
  margin: 0.5cm;
}

#intro-p {
  font-size: 1.8em;
  margin: 1cm 12cm;
  padding: 0;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

#contact-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  padding: 15px;
  margin: 10px;
}

#form,
#address-section,
#opening-hours {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.3em;
  border: solid #ff8b5b 2px;
  border-radius: 10%;
  background-color: #ffdede;
  padding: 20px;
}

#location {
  margin-bottom: 1em;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ff8b5b;
}

@media only screen and (max-width: 480px) {
  /* Styles for screens 480px or less */

  /* Adjust the header's margin to move it below the menu bar */
  header {
    margin-top: 60px; /* Adjust this value as needed */
  }

  /* Adjust the image's margin to center it horizontally */
  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem; /* Adjust this value as needed */
    margin-bottom: 1rem; /* Adjust this value as needed */
  }

  /* Make the sections occupy full width */
  section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  /* Adjust the padding for the form and other sections */
  #form,
  #address-section,
  #opening-hours {
    padding: 20px;
  }

  /* Adjust the list items' margin for better alignment */
  li {
    margin-left: 0;
    text-align: center;
  }
}
