/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  width: 100%;
  overflow-x: hidden;
  scroll-padding-top: 55px;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif, arial;
  background-color: #faf0e4;
}

::-webkit-scrollbar {
  display: none;
}

nav,
nav ul {
  display: flex;
}

nav {
  background-color: #ff8551;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 85%;
}

nav ul {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
}

nav li {
  padding: 10px;
}

nav li a {
  font-size: 0.8em;
  color: #ffdede;
  font-weight: bold;
  padding: 0px;
}

h1 {
  text-align: center;
  font-size: 5em;
  margin: 250px 50px;
  padding: 188px 0;
  color: #ff8551;
  background-color: #ffdede;
  border: solid #ffdede 3px;
  border-radius: 38%;
  border-color: whitesmoke;
  box-shadow: 0 0 10px #ff8b5b;
}

h2 {
  text-align: center;
  color: white;
  margin-top: -350px;
}

h3 {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 3em;
  color: #4f709c;
  background-color: #ffdede;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 30%;
}

h4 {
  font-size: 2em;
}

section {
  height: 100vh;
  padding-top: 0.5px;
  color: #4f709c;
  text-align: center;
  max-width: 100%;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 10px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  font-size: 1.5em;
  padding: 20px 0;
  list-style: none;
}

label {
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

input {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 28px;
  box-sizing: border-box;
}

textarea::placeholder {
  font-family: "Roboto", sans-serif, arial;
  padding: 2%;
}

address {
  font-style: normal;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  background-color: #4f709c;
  height: auto;
  width: 100%;
  text-align: center;
  padding: 0.2em;
}

footer p {
  color: #ffdede;
  font-size: 0.8em;
}

.intro-p {
  font-size: 1.8em;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.eyewear-title {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #4f709c;
  border-radius: 30px;
  width: 25%;
  margin-top: 11%;
  padding: 25px;
}

.contact-title {
  color: white;
  background-color: #ff8b5b;
  border-radius: 30px;
  width: 280px;
}

#about-us {
  margin: 200px 0px -100px 0px;
}

#kid-pic {
  display: none;
}

#eyewear {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  height: auto;
}

#ophthalmic-glasses {
  background-image: url(/images/ophthalmic-glasses.jpg);
}

#sunglasses {
  background-image: url(/images/sunglasses.jpg);
}

#contact-lenses {
  background-image: url(/images/contact-lenses.jpg);
}

#ophthalmic-glasses,
#sunglasses,
#contact-lenses {
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
}

#contact-section {
  background-image: url(/images/kid-store-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  margin-top: 20px;
  height: 720px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#form,
#location-section,
#opening-hours {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  font-size: 1.3em;
  border: solid #ff8b5b 2px;
  border-radius: 30px;
  background-color: #ffdede;
  width: 70%;
  height: 120%;
  margin: 0 auto;
}

#submit {
  display: block;
  margin: 0 auto;
  width: auto;
}

#address,
#phone {
  color: #4f709c;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  nav li {
    margin: 0;
    padding: 5px;
  }

  h1 {
    font-size: 4.5em;
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
  }

  h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    margin-top: -170px;
    width: 180px;
  }

  h3 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  h4 {
    margin: 0;
  }

  li {
    font-size: 1.1em;
    margin: 0;
    padding: 8px;
    padding-left: 0px;
  }

  .intro-p {
    margin: 20px;
    font-size: 1em;
    text-align: justify;
  }

  #about-us,
  #eyewear,
  #our-services {
    margin-top: 100%;
  }

  .eyewear-title {
    width: 200px;
    margin-top: 200px;
  }

  .contact-title {
    margin: 20px 30px;
    width: 90%;
  }

  #kid-pic {
    display: block;
    margin: 0 auto;
    width: 350px;
  }

  #contact-section {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    height: auto;
  }

  #form,
  #location-section,
  #opening-hours {
    font-size: 1em;
    width: 80%;
    height: auto;
  }

  input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #address {
    margin: 5px;
  }
}
